[Desktop Entry]
Type=Application
Exec=/usr/local/bin/xampp-tray
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=XAMPP Tray App
Comment=Control XAMPP from tray
Icon=xampp-tray
Categories=Development;
